/* style.css */

body {
    padding-top: 56px; /* Adjusted for fixed navbar */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Sora', sans-serif;
}

.hero-image {
    position: relative;
    background-image: url('../images/pexels-lukas-574069.jpg');
    background-size: cover;
    height: 400px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px; /* Optional: Add rounded corners */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* 3D text-shadow effect */
}

.white-house, .lead {
    color: #ffffff;
    font-weight: bold;
    /* transform: rotate(-2deg); */ /* Optional: Rotate the text slightly */
}

/* Navigation Links */
.navbar-light .navbar-nav .nav-link {
    color: #003750;
    transition: color 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #44bac1; /* WHITS light blue on hover */
}

/* Brand Logo/Text in the Navbar */
.navbar-light .navbar-brand {
    color: #003750;
}

.navbar-light .navbar-brand:hover {
    color: #44bac1 /* WHITS light blue on hover */
}

/* Navbar Background */
.navbar-light {
    background-color: #343a40; /* Dark gray background */
}

/* Hamburger Icon Color */
.navbar-light .navbar-toggler-icon {
    background-color: #ffffff;
}

/* Active Link */
.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #003750; /* WHITS dark blue for active link */
}

/* Lead content */
.about-us-container {
    text-align: center;
}

.we-help, .we-share {
    font-family: 'Poppins', sans-serif;
    color: #003750; /* WHITS dark blue for headings */
    margin-bottom: 25px;
}

.we-help {
    margin-top: 25px;
}

.we-share {
    font-style: italic;
    margin-bottom: 25px; /* Add space between headings */
}

.about-us-container p {
    font-family: 'Sora', sans-serif;
    font-size: 18px; /* Adjust the font size as needed */
    color: #343a40; /* Dark text color */
    line-height: 1.6; /* Adjust the line height for better readability */
    margin-bottom: 20px; /* Add spacing between paragraphs */
}

hr {
    border-top: 3px solid #e39245;
    margin: 20px 0; /* Add space above and below the hr line */
}

/* Button Container  and Custom Buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Adjust the margin as needed */
}

@media (max-width: 767px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .custom-button {
        margin: 5px 0; /* Adjust the margin for stacked buttons on mobile */
    }
}

/* Custom Buttons */
.custom-button {
    margin: 0 10px; /* Adjust the margin to control space between buttons */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #003750;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow to the transition */

    /* Box shadow for a 3D effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the values as needed */

    /* Additional styles for hover effect */
    &:hover {
        background-color: #005682;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Adjust the values for hover effect */
    }
}

.custom-contact-button {
    margin: 0 10px; /* Adjust the margin to control space between buttons */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e39245;
    color: #003750;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow to the transition */

    /* Box shadow for a 3D effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the values as needed */

    /* Additional styles for hover effect */
    &:hover {
        background-color: #f1b778;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Adjust the values for hover effect */
    }
}

/* Add some spacing between cards */
.card {
    margin-bottom: 20px;
    transition: border 0.3s ease; /* Add a smooth transition effect */
}

/* Style the card titles */
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003750;
}

/* Style the card icons */
.card i {
    display: block;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05); /* Scale up by 5% on hover */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition for transform */
}

/* Add this style for the hover effect */
.card:hover,
.card:focus {
  border: 3px solid;
  border-image: linear-gradient(to bottom, #e39245, #ffcc99);
  border-image-slice: 1;
  background: linear-gradient(to bottom, #e39245, #ffcc99);
}

/* Style the Font Awesome icons' colors */
.card i.icon {
    color: #44bac1;
}

/* Footer Section */
footer {
    padding: 40px 0;
}

/* Footer Links */
footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #44bac1; /* WHITS light blue on hover */
    text-decoration: none;
}

/* Social Links */
.social-links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #ffffff;
}

.social-links a:hover {
    color: #44bac1; /* WHITS light blue on hover */
}

/* Footer Bottom */
.footer-bottom {
    background-color: #343a40; /* Dark gray background */
    color: #f8f9fa; /* Light gray text */
    margin-top: 20px;
    padding: 10px 0;
}

/* Styling for the About page */
.hero-image-about {
    position: relative;
    background-image: url('../images/tim-van-der-kuip-CPs2X8JYmS8-unsplash.jpg');
    background-size: cover;
    height: 400px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.commitment-container,
.call-to-action-container {
    background-color: #44bac1; /* Blue background color */
    color: #ffffff; /* White text color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    text-align: justify; /* Justify text for a clean look */
}

.commitment-container h3,
.call-to-action-container h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.commitment-container p
.call-to-action-container p {
    font-size: 18px;
}

.commitment-container ul {
    font-size: 16px;
    margin-top: 20px;
}

.commitment-container li {
    margin-bottom: 10px;
}

.support-paragraph {
    padding-top: 10px;
    padding-bottom: 10px;
}