/* style.css */

body {
    padding-top: 56px; /* Adjusted for fixed navbar */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Sora', sans-serif;
}

.hero-image {
    position: relative;
    background-image: url('../images/pexels-lukas-574069.jpg');
    background-size: cover;
    height: 400px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px; /* Optional: Add rounded corners */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* 3D text-shadow effect */
}

.white-house, .lead {
    color: #ffffff;
    font-weight: bold;
}

/* Navigation Links */
.navbar-light .navbar-nav .nav-link {
    color: #003750;
    transition: color 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #44bac1; /* WHITS light blue on hover */
}

/* Brand Logo/Text in the Navbar */
.navbar-light .navbar-brand {
    color: #003750;
}

.navbar-light .navbar-brand:hover {
    color: #44bac1 /* WHITS light blue on hover */
}

/* Navbar Background */
.navbar-light {
    background-color: #343a40; /* Dark gray background */
}

/* Hamburger Icon Color */
.navbar-light .navbar-toggler-icon {
    background-color: #ffffff;
}

/* Active Link */
.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #003750; /* Light gray for active link */
}

hr {
    border-top: 3px solid #e39245;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Add some spacing between cards */
.card {
    margin-bottom: 20px;
}

/* Style the card titles */
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003750;
}

/* Style the card icons */
.card i {
    display: block;
}

/* Add a subtle box shadow to cards on hover */
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

/* Style the card backgrounds and text colors */
.card:nth-child(odd) {
    background-color: #f8f9fa; /* Light gray background for odd cards */
    color: #343a40; /* Dark text color for odd cards */
}

.card:nth-child(even) {
    background-color: #ffffff; /* White background for even cards */
    color: #343a40; /* Dark text color for even cards */
}

/* Style the Font Awesome icons' colors */
.card i.text-primary { color: #007bff; } /* Blue for IT Support */
.card i.text-success { color: #28a745; } /* Green for Software Development */
.card i.text-warning { color: #ffc107; } /* Yellow for Partners */
.card i.text-danger { color: #dc3545; } /* Red for Cyber Security */

/* Footer Section */
footer {
    padding: 40px 0;
}

/* Footer Links */
footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #44bac1; /* WHITS light blue on hover */
    text-decoration: none;
}

/* Social Links */
.social-links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #ffffff;
}

.social-links a:hover {
    color: #44bac1; /* WHITS light blue on hover */
}

/* Footer Bottom */
.footer-bottom {
    background-color: #343a40; /* Dark gray background */
    color: #f8f9fa; /* Light gray text */
    margin-top: 20px;
    padding: 10px 0;
}
